/***universal***/

.wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.main-content {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

img {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.collage-img, .still-collage-img {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


/***NPS Home Page***/

/*header*/
header {
	padding-top: 1rem;
	padding-bottom: 3.3em;
}

/*body*/
.tagline {
	text-align: center;
	width: 90%; 
	margin: 2rem auto 1rem auto;
}


/*collage*/
.collage {
	overflow: hidden;
	margin-bottom: 4rem;
	.top-row, .bottom-row {
		overflow: hidden;
		.collage-img, .smokies-collage-img {
			width: 25%;
			float: left;
		}
	}
}

.caption-bg {
	padding-top: .5rem;
	padding-bottom: .5rem;
	clear: both;
	.caption {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}

.placeholder {
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	opacity: 0;
}

.first-image {
	background-image: url(../img/nps-insta1.png);
	background-size: cover;
  	-webkit-animation: firstimgswitch 15s linear infinite;
  	animation: firstimgswitch 15s linear infinite;
}

@-webkit-keyframes firstimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta1.png);}
	 33%, 65% {background-image: url(../img/nps-insta9.png);}
	 66%, 99% {background-image: url(../img/nps-insta10.png);}
}

@keyframes firstimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta1.png);}
	 33%, 65% {background-image: url(../img/nps-insta9.png);}
	 66%, 99% {background-image: url(../img/nps-insta10.png);}
}

.second-image {
	background-image: url(../img/nps-insta2.png);
	background-size: cover;
  	-webkit-animation: secondimgswitch 15s linear infinite;
  	animation: secondimgswitch 15s linear infinite;
}

@-webkit-keyframes secondimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta2.png);}
	 33%, 65% {background-image: url(../img/nps-insta11.png);}
	 66%, 99% {background-image: url(../img/nps-insta12.png);}
}

@keyframes secondimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta2.png);}
	 33%, 65% {background-image: url(../img/nps-insta11.png);}
	 66%, 99% {background-image: url(../img/nps-insta12.png);}
}

.third-image {
	background-image: url(../img/nps-insta3.png);
	background-size: cover;
  	-webkit-animation: thirdimgswitch 15s linear infinite;
  	animation: thirdimgswitch 15s linear infinite;
}

@-webkit-keyframes thirdimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta3.png);}
	 33%, 65% {background-image: url(../img/nps-insta13.png);}
	 66%, 99% {background-image: url(../img/nps-insta14.png);}
}

@keyframes thirdimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta3.png);}
	 33%, 65% {background-image: url(../img/nps-insta13.png);}
	 66%, 99% {background-image: url(../img/nps-insta14.png);}
}

.fourth-image {
	background-image: url(../img/nps-insta4.png);
	background-size: cover;
  	-webkit-animation: fourthimgswitch 15s linear infinite;
  	animation: fourthimgswitch 15s linear infinite;
}

@-webkit-keyframes fourthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta4.png);}
	 33%, 65% {background-image: url(../img/nps-insta15.png);}
	 66%, 99% {background-image: url(../img/nps-insta16.png);}
}

@keyframes fourthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta4.png);}
	 33%, 65% {background-image: url(../img/nps-insta15.png);}
	 66%, 99% {background-image: url(../img/nps-insta16.png);}
}

.fifth-image {
	background-image: url(../img/nps-insta5.png);
	background-size: cover;
  	-webkit-animation: fifthimgswitch 15s linear infinite;
  	animation: fifthimgswitch 15s linear infinite;
}

@-webkit-keyframes fifthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta5.png);}
	 33%, 65% {background-image: url(../img/nps-insta17.png);}
	 66%, 99% {background-image: url(../img/nps-insta18.png);}
}

@keyframes fifthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta5.png);}
	 33%, 65% {background-image: url(../img/nps-insta17.png);}
	 66%, 99% {background-image: url(../img/nps-insta18.png);}
}

.sixth-image {
	background-image: url(../img/nps-insta6.png);
	background-size: cover;
  	-webkit-animation: sixthimgswitch 15s linear infinite;
  	animation: sixthimgswitch 15s linear infinite;
}

@-webkit-keyframes sixthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta6.png);}
	 33%, 65% {background-image: url(../img/nps-insta19.png);}
	 66%, 99% {background-image: url(../img/nps-insta20.png);}
}

@keyframes sixthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta6.png);}
	 33%, 65% {background-image: url(../img/nps-insta19.png);}
	 66%, 99% {background-image: url(../img/nps-insta20.png);}
}

.seventh-image {
	background-image: url(../img/nps-insta7.png);
	background-size: cover;
  	-webkit-animation: seventhimgswitch 15s linear infinite;
  	animation: seventhimgswitch 15s linear infinite;
}

@-webkit-keyframes seventhimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta7.png);}
	 33%, 65% {background-image: url(../img/nps-insta21.png);}
	 66%, 99% {background-image: url(../img/nps-insta22.png);}
}

@keyframes seventhimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta7.png);}
	 33%, 65% {background-image: url(../img/nps-insta21.png);}
	 66%, 99% {background-image: url(../img/nps-insta22.png);}
}

.eighth-image {
	background-image: url(../img/nps-insta8.png);
	background-size: cover;
  	-webkit-animation: eighthimgswitch 15s linear infinite;
  	animation: eighthimgswitch 15s linear infinite;
}

@-webkit-keyframes eighthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta8.png);}
	 33%, 65% {background-image: url(../img/nps-insta23.png);}
	 66%, 99% {background-image: url(../img/nps-insta24.png);}
}

@keyframes eighthimgswitch {
	 0%, 100% {background-image: url(../img/nps-insta8.png);}
	 33%, 65% {background-image: url(../img/nps-insta23.png);}
	 66%, 99% {background-image: url(../img/nps-insta24.png);}
}

/*main content*/
.nps-main-feature, .nps-subfeature, .secondary-feature {
	margin-bottom: 4rem;
}

.dropdown {
	margin-bottom: 1rem;
	select {
		outline: none;
		width: 60%;
	}
}

.button {
	width: 20%;
	border-radius: 5px;
	text-align: center;
}

/*footer*/
.left-footer-nav, {
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 2rem;
		}
		li:nth-of-type(3) {
			margin-right: 0;
		}
	}
}

.right-footer-nav {
	overflow: hidden;
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 2rem;
		}
		li:nth-of-type(2) {
			margin-right: 0;
		}
	}
}


/***main Smokies page***/
/*header*/
.alert-message {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/*collage*/
.smokies-first {
	background-image: url(../img/smokies-insta1.png);
	background-size: cover;
  	-webkit-animation: smokiesfirstimgswitch 15s linear infinite;
  	animation: smokiesfirstimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiesfirstimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta1.png);}
	 50%, 99% {background-image: url(../img/smokies-insta9.png);}
}

@keyframes smokiesfirstimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta1.png);}
	 50%, 99% {background-image: url(../img/smokies-insta9.png);}
}

.smokies-second {
	background-image: url(../img/smokies-insta2.png);
	background-size: cover;
  	-webkit-animation: smokiessecondimgswitch 15s linear infinite;
  	animation: smokiessecondimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiessecondimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta2.png);}
	 50%, 99% {background-image: url(../img/smokies-insta10.png);}
}

@keyframes smokiessecondimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta2.png);}
	 50%, 99% {background-image: url(../img/smokies-insta10.png);}
}

.smokies-third{
	background-image: url(../img/smokies-insta3.png);
	background-size: cover;
  	-webkit-animation: smokiesthirdimgswitch 15s linear infinite;
  	animation: smokiesthirdimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiesthirdimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta3.png);}
	 50%, 99% {background-image: url(../img/smokies-insta11.png);}
}

@keyframes smokiesthirdimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta3.png);}
	 50%, 99% {background-image: url(../img/smokies-insta11.png);}
}

.smokies-fourth {
	background-image: url(../img/smokies-insta4.png);
	background-size: cover;
  	-webkit-animation: smokiesfourthimgswitch 15s linear infinite;
  	animation: smokiesfourthimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiesfourthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta4.png);}
	 50%, 99% {background-image: url(../img/smokies-insta12.png);}
}

@keyframes smokiesfourthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta4.png);}
	 50%, 99% {background-image: url(../img/smokies-insta12.png);}
}

.smokies-fifth {
	background-image: url(../img/smokies-insta5.png);
	background-size: cover;
  	-webkit-animation: smokiesfifthimgswitch 15s linear infinite;
  	animation: smokiesfifthimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiesfifthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta5.png);}
	 50%, 99% {background-image: url(../img/smokies-insta13.png);}
}

@keyframes smokiesfifthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta5.png);}
	 50%, 99% {background-image: url(../img/smokies-insta13.png);}
}

.smokies-sixth {
	background-image: url(../img/smokies-insta6.png);
	background-size: cover;
  	-webkit-animation: smokiessixthimgswitch 15s linear infinite;
  	animation: smokiessixthimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiessixthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta6.png);}
	 50%, 99% {background-image: url(../img/smokies-insta14.png);}
}

@keyframes smokiessixthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta6.png);}
	 50%, 99% {background-image: url(../img/smokies-insta14.png);}
}

.smokies-seventh {
	background-image: url(../img/smokies-insta7.png);
	background-size: cover;
  	-webkit-animation: smokiesseventhimgswitch 15s linear infinite;
  	animation: smokiesseventhimgswitch 15s linear infinite;
}

@-webkit-keyframes smokiesseventhimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta7.png);}
	 50%, 99% {background-image: url(../img/smokies-insta15.png);}
}

@keyframes smokiesseventhimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta7.png);}
	 50%, 99% {background-image: url(../img/smokies-insta15.png);}
}

.smokies-eighth {
	background-image: url(../img/smokies-insta8.png);
	background-size: cover;
  	-webkit-animation: smokieseighthimgswitch 15s linear infinite;
  	animation: smokieseighthimgswitch 15s linear infinite;
}

@-webkit-keyframes smokieseighthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta8.png);}
	 50%, 99% {background-image: url(../img/smokies-insta16.png);}
}

@keyframes smokieseighthimgswitch {
	 0%, 100% {background-image: url(../img/smokies-insta8.png);}
	 50%, 99% {background-image: url(../img/smokies-insta16.png);}
}

/*main content*/
.smokies-main-feature, .smokies-subfeature {
	margin-bottom: 4rem;
}

.map-img {
	margin-bottom: 0;
	display: block;
}


/***smokies plan trip visit***/
.smokies-blurb {
	margin-bottom: 2rem;
	max-width: 650px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.smokies-collage {
	margin-bottom: 4rem;
	overflow: hidden;
}

.still-collage-img {
	margin-top: 0;
	margin-bottom: 0;
	width: 50%;
	float: left;
}