/***universal***/

.wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.main-content {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

img {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.collage-img, .still-collage-img {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


/***NPS Home Page***/

/*header*/
header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: url(../img/woodgrain.svg), $yellow;
	.logo {
	
		width: 160px;
		float: left;
	}
}

/*body*/
.tagline {
	text-align: center;
	width: 90%; 
	margin: 2rem auto 1rem auto;
}


/*collage*/
.collage {
	overflow: hidden;
	margin-bottom: 4rem;
	.top-row, .bottom-row {
		overflow: hidden;
		.collage-img, .smokies-collage-img {
			width: 25%;
			float: left;
		}
	}
}

.caption-bg {
	padding-top: .5rem;
	padding-bottom: .5rem;
	clear: both;
	.caption {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}

.placeholder {
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	opacity: 0;
}

.first-image {
	background-image: url(../img/nps-insta1.jpg);
	background-size: cover;
  	@include animation (firstimgswitch 16.0s linear infinite);
  	@include animation-delay(2s);
}

@include keyframes(firstimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta1.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta9.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta10.jpg);}
}

.second-image {
	background-image: url(../img/nps-insta2.jpg);
	background-size: cover;
  	@include animation (secondimgswitch 16.0s linear infinite);
}

@include keyframes(secondimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta2.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta11.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta12.jpg);}
}

.third-image {
	background-image: url(../img/nps-insta3.jpg);
	background-size: cover;
  	@include animation (thirdimgswitch 16.0s linear infinite);
  	@include animation-delay(6s);
}

@include keyframes(thirdimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta3.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta13.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta14.jpg);}
}

.fourth-image {
	background-image: url(../img/nps-insta4.jpg);
	background-size: cover;
  	@include animation (fourthimgswitch 16.0s linear infinite);
  	@include animation-delay(4s);
}

@include keyframes(fourthimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta4.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta15.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta16.jpg);}
}

.fifth-image {
	background-image: url(../img/nps-insta5.jpg);
	background-size: cover;
  	@include animation (fifthimgswitch 16.0s linear infinite);
}

@include keyframes(fifthimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta5.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta17.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta18.jpg);}
}

.sixth-image {
	background-image: url(../img/nps-insta6.jpg);
	background-size: cover;
  	@include animation (sixthimgswitch 16.0s linear infinite);
  	@include animation-delay(4s);
}

@include keyframes(sixthimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta6.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta19.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta20.jpg);}
}


.seventh-image {
	background-image: url(../img/nps-insta7.jpg);
	background-size: cover;
  	@include animation (seventhimgswitch 16.0s linear infinite);
  	@include animation-delay(2s);
}

@include keyframes(seventhimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta7.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta21.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta22.jpg);}
}

.eighth-image {
	background-image: url(../img/nps-insta8.jpg);
	background-size: cover;
  	@include animation (eighthimgswitch 16.0s linear infinite);
  	@include animation-delay(6s);
}

@include keyframes(eighthimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta8.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta23.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta24.jpg);}
}

/*main content*/
.nps-main-feature, .nps-subfeature, .secondary-feature {
	margin-bottom: 4rem;
}

.dropdown {
	margin-bottom: 1rem;
	select {
		outline: none;
		width: 60%;
	}
}

.button {
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	padding: 0.5rem 1rem;
}

/*footer*/
footer {
	background: url(../img/woodgrain.svg), $green;
}

.left-footer-nav, {
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 2rem;
		}
		li:nth-of-type(3) {
			margin-right: 0;
		}
	}
}

.right-footer-nav {
	overflow: hidden;
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 2rem;
		}
		li:nth-of-type(2) {
			margin-right: 0;
		}
	}
}


/***main Smokies page***/
/*header*/
.alert-message {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/*collage*/
.smokies-first {
	background-image: url(../img/smokies-insta1.jpg);
	background-size: cover;
  	@include animation(smokiesfirstimgswitch 12s linear infinite);
  	@include animation-delay(6s);
}

@include keyframes(smokiesfirstimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta1.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta9.jpg);}
}


.smokies-second {
	background-image: url(../img/smokies-insta2.jpg);
	background-size: cover;
  	@include animation(smokiessecondimgswitch 12s linear infinite);
}

@include keyframes(smokiessecondimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta2.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta10.jpg);}
}


.smokies-third{
	background-image: url(../img/smokies-insta3.jpg);
	background-size: cover;
  	@include animation(smokiesthirdimgswitch 12s linear infinite);
}

@include keyframes(smokiesthirdimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta3.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta11.jpg);}
}

.smokies-fourth {
	background-image: url(../img/smokies-insta4.jpg);
	background-size: cover;
  	@include animation(smokiesfourthimgswitch 12s linear infinite);
  	@include animation-delay(4s);
}

@include keyframes(smokiesfourthimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta4.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta12.jpg);}
}

.smokies-fifth {
	background-image: url(../img/smokies-insta5.jpg);
	background-size: cover;
  	@include animation (smokiesfifthimgswitch 12s linear infinite);
}

@include keyframes(smokiesfifthimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta5.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta13.jpg);}
}

.smokies-sixth {
	background-image: url(../img/smokies-insta6.jpg);
	background-size: cover;
  	@include animation (smokiessixthimgswitch 12s linear infinite);
  	@include animation-delay(4s);
}

@include keyframes(smokiessixthimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta6.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta14.jpg);}
}

.smokies-seventh {
	background-image: url(../img/smokies-insta7.jpg);
	background-size: cover;
  	@include animation (smokiesseventhimgswitch 12s linear infinite);
  	@include animation-delay(2s);
}

@include keyframes(smokiesseventhimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta7.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta15.jpg);}
}

.smokies-eighth {
	background-image: url(../img/smokies-insta8.jpg);
	background-size: cover;
  	@include animation(smokieseighthimgswitch 12s linear infinite);
  	@include animation-delay(2s);
}

@include keyframes(smokieseighthimgswitch) {
	 0%, 49% {background-image: url(../img/smokies-insta8.jpg);}
	 50%, 100% {background-image: url(../img/smokies-insta16.jpg);}
}

/*main content*/
.smokies-main-feature, .smokies-subfeature {
	margin-bottom: 4rem;
}

.map-img {
	margin-bottom: 0;
	display: block;
}


/***smokies plan trip visit***/
.smokies-blurb {
	margin-bottom: 2rem;
	max-width: 650px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.smokies-collage {
	margin-bottom: 4rem;
	overflow: hidden;
}

.still-collage-img {
	margin-top: 0;
	margin-bottom: 0;
	width: 50%;
	float: left;
}

.welcome-info {
	padding-top: 2rem;
	padding-bottom: 2rem;
}


/***kids***/
.kids-main {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.kids {
	margin-bottom: 2rem;
}

.smokies-collage-kids {
	overflow: hidden;
}

.books, .did-you-know {
	padding-top: 4rem;
	padding-bottom: 4rem;
	overflow: hidden;
}

.kids-img {
	width: 60%;
	display: block;
}

.jr-ranger, .web-ranger {
	padding-bottom: 4rem;
	padding-top: 4rem;
	overflow: hidden;
}

.jr-ranger-info, .web-ranger-info {
	.button {
		margin-top: 1rem;
	}
}

.jr-ranger-photo, .web-ranger-photo {
	width: 60%;
}

.book-image {
	max-width: 20%;
	margin-left: 25px;
	@include animation(rotate 6s linear infinite);
	padding: 15px 0;
}

@include keyframes(rotate) {
	0%, 49% {transform: rotate(35deg);}
	50%, 100% {transform: rotate(-35deg);}
}

.book-content {
	margin-bottom: 2.5rem;
	overflow: hidden;
}

.book-content:last-of-type {
	margin-bottom: 0;
}

.fact  {
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}
