/***universal***/

.wrapper {
	width: 90%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

img {
	width: 100%;
	margin-top: 16px;
	margin-top: 1rem;
	margin-bottom: 8px;
	margin-bottom: .5rem;
}

.collage-img, .still-collage-img {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.tagline {
	width: 90%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.welcome-info {
	padding-top: 32px;
	padding-top: 2rem;
	padding-bottom: 32px;
	padding-bottom: 2rem;
}

/*header*/
header {
	padding-top: 16px;
	padding-top: 1rem;
	padding-bottom: 16px;
	padding-bottom: 1rem;
	background: url(../img/woodgrain.svg), lighten($yellow, 5%);
	.logo-large, .logo-small {
		width: 100px;
		float: left;
	}
	.logo-large {
		display: none;
	}
}


/*collage*/
.collage {
	overflow: hidden;
	margin-bottom: 64px;
	margin-bottom: 4rem;
	clear: both;
	.top-row {
		overflow: hidden;
		.collage-img {
			width: 50%;
			float: left;
		}
	}
}

.caption-bg {
	padding-top: 8px;
	padding-top: .5rem;
	padding-bottom: 8px;
	padding-bottom: .5rem;
	clear: both;
	.caption {
		width: 90%;
		max-width: 1300px;
		margin-right: auto;
		margin-left: auto;
	}
}

.placeholder {
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	opacity: 0;
}

/***NPS Home Page***/
.first-image {
	background-image: url(../img/nps-insta1.jpg);
	background-size: cover;
  	@include animation (firstimgswitch 16.0s linear infinite);
  	@include animation-delay(4s);
}

@include keyframes(firstimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta1.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta2.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta3.jpg);}
}

.second-image {
	background-image: url(../img/nps-insta4.jpg);
	background-size: cover;
  	@include animation (secondimgswitch 16.0s linear infinite);
  	@include animation-delay(2s);
}

@include keyframes(secondimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta4.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta5.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta6.jpg);}
}

.third-image {
	background-image: url(../img/nps-insta7.jpg);
	background-size: cover;
  	@include animation (thirdimgswitch 16.0s linear infinite);
  	@include animation-delay(4s);
}

@include keyframes(thirdimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta7.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta8.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta9.jpg);}
}

.fourth-image {
	background-image: url(../img/nps-insta10.jpg);
	background-size: cover;
  	@include animation (fourthimgswitch 16.0s linear infinite);
}

@include keyframes(fourthimgswitch) {
	 0%, 32% {background-image: url(../img/nps-insta10.jpg);}
	 33%, 65% {background-image: url(../img/nps-insta11.jpg);}
	 66%, 100% {background-image: url(../img/nps-insta12.jpg);}
}

/*main content*/
.nps-main-feature, .nps-subfeature, .secondary-feature {
	margin-bottom: 64px;
	margin-bottom: 4rem;
}

.dropdown {
	margin-bottom: 16px;
	margin-bottom: 1rem;
	select {
		outline: none;
		width: 60%;
	}
}

.button {
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	padding: 8px 16px;
	padding: 0.5rem 1rem;
}

/*footer*/
footer {
	background: url(../img/woodgrain.svg), $green;
	padding-top: 16px;
	padding-top: 1rem;
	padding-bottom: 32px;
	padding-bottom: 2rem;
}

.left-footer-nav, {
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 32px;
			margin-right: 2rem;
		}
		li:nth-of-type(3) {
			margin-right: 0;
		}
	}
}

.footer-social-header {
	text-align: center;
	text-transform: uppercase;
	margin-top: 16px;
	margin-top: 1rem;
}

.right-footer-nav {
	overflow: hidden;
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 32px;
			margin-right: 2rem;
		}
		li:nth-of-type(2) {
			margin-right: 0;
		}
	}
}


/***main Smokies page***/
/*header*/
.alert {
	margin-bottom: 64px;
	margin-bottom: 4rem;
	padding-top: 16px;
	padding-top: 1rem;
	padding-bottom: 16px;
	padding-bottom: 1rem;
	.alert-container {
		width: 90%;
		max-width: 1300px;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
		.alert-icon {
		float: left;
		width: 38px;
		margin: 0 20px 0 0;
	}
	.alert-message {
		float: left;
		width: 70%;
}
	}
}

.icons {
	overflow: hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	.icon {
		width: 17.5%;
		float: left;
		margin-left: 3.125%;
	}
	.icon:first-of-type {
		margin-left: 0;
	}
}

/*main content*/
.smokies-main-feature, .smokies-subfeature {
	margin-bottom: 64px;
	margin-bottom: 4rem;
	clear: both;
}

.map-img {
	margin-bottom: 0;
	display: block;
}


/***smokies plan trip visit***/
.welcome-blurb {
	margin-bottom: 32px;
	margin-bottom: 2rem;
	max-width: 650px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

.smokies-collage {
	margin-bottom: 64px;
	margin-bottom: 4rem;
	overflow: hidden;
}

.still-collage-img {
	margin-top: 0;
	margin-bottom: 0;
	width: 50%;
	float: left;
}

.smokies-welcome {
	background-image: url(../img/smokies-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
	padding-top: 5rem;
	padding-bottom: 80px;
	padding-bottom: 5rem;
	background-position: center bottom;
}


/***kids***/
.kids-main {
	padding-top: 32px;
	padding-top: 2rem;
	padding-bottom: 32px;
	padding-bottom: 2rem;
}

.kids {
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

.smokies-collage-kids {
	overflow: hidden;
}

.kids-collage-img {
	margin-top: 0;
	margin-bottom: 0;
	width: 33.333%;
	float: left;
}

.books, .did-you-know, .jr-ranger, .web-ranger {
	padding-top: 64px;
	padding-top: 4rem;
	padding-bottom: 64px;
	padding-bottom: 4rem;
	overflow: hidden;
}

.kids-img {
	width: 60%;
	display: block;
}

.jr-ranger-info, .web-ranger-info {
	.button {
		margin-top: 16px;
		margin-top: 1rem;
	}
}

.jr-ranger-photo, .web-ranger-photo {
	width: 60%;
}

.book-image {
	max-width: 20%;
}

.book-content {
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
	padding-top: 32px;
	padding-top: 2rem;
	padding-bottom: 16px;
	padding-bottom: 1rem;
	overflow: hidden;
}

.book-content:last-of-type {
	margin-bottom: 0;
}

.fact-carousel {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.fact  {
	width: 300px;
	box-sizing: border-box;
	padding-right: 16px;
	padding-right: 1rem;
	padding-left: 16px;
	padding-left: 1rem;
}
