$teal: #449591; /*h1, h2, h3*/
$yellow: #f9c85b; /*h3 featured park, menu outline*/
$red: #ad2f25; /*alert bg*/
$blue: #0f5783; /*links, buttons*/
$green: #5a7b52; /*caption bg, p*/

h1, h2, h3 {
	color: $teal;
}

.featured-h3 {
	color: $yellow;
}

.alert {
	background-color: lighten($red, 17%);
	.alert-container {
	.alert-message {
		color: white;
	}
}
}

p, select {
	color: $green;
}

.caption {
	color: white;
}

.caption-bg {
	background-color: $green;
}

a {
	color: $blue;
}

select {
	border: 3px solid $yellow;
}

select:focus {
	border: 3px solid $blue;
}

.button {
	background-color: $blue;
	border: 3px solid $yellow;
	a {
		color: $yellow;
	}
}

.button:hover {
	background-color: $yellow;
	border: 3px solid $blue;
	a {
		color: $blue;
	}
}

.kids-main-feature {
	p {
		color: white;
	}
	h2 {
		color: $yellow;
	}
}

.jr-ranger {
	background-color: $teal;
}

.web-ranger {
	background-color: $green;
}

.books {
	background-color: $blue;
	p {
		color: white;
	}
	.title {
		color: $yellow;
	}
	h2 {
		color: $yellow;
	}
}

.did-you-know {
	background-color: $teal;
	p {
		color: white;
	}
	h2 {
		color: $yellow;
	}
}

.welcome-info {
	background-color: $teal;
	h1 {
		color: $yellow;
	}
	p {
		color: white;
	}
}

.smokies-welcome {
	h1 {
		color: white;
	}
}

.kids-main {
	background-color: $teal;
	h1 {
		color: $yellow;
	}
	p {
		color: white;
	}
}

footer {
	background-color: $green;
	a {
		color: $yellow;
	}
}

.footer-social-header {
	color: white;
}

header a {
	color: darken($green, 5%);
}

svg {
	fill: $green;
}