@media screen and (min-width: 650px) {
/***header***/
header {
	.logo-large {
		display: block;
		width: 200px;
	}
	.logo-small {
		display: none;
	}
}

/***main nps***/
.collage {
	.top-row {
		.collage-img {
			width: 25%;
		}
	}
}

/***footer***/
.left-footer-nav {
	float: left;
	width: 50%;
	margin-right: 20%;
	ul {
		text-align: left;
		li {
			display: block;
			margin-right: 0;
		}
	}
}

.footer-social-header {
	text-align: right;
	margin-top: 0;
}

.right-footer-nav {
	float: left;
	overflow: hidden;
	width: 30%;
	ul {
		text-align: right;
		li {
			display: block;
			margin-right: 0;
		}
	}
}

.left-socials, .right-socials {
	width: 48%;
	float: left;
	overflow: hidden;
}

.left-socials {
	margin-right: 4%;
}

/***kids page***/
.book-image {
	width: 12.5%;
	float: left;
	margin-left: 10%;
	@include animation(rotate 6s linear infinite);
	padding: 15px 0;
	margin-top: -10px;
}

@include keyframes(rotate) {
	0%, 49% {transform: rotate(35deg);}
	50%, 100% {transform: rotate(-35deg);}
}

.book {
	float: left;
	width: 60%;
	margin-left: 7.5%;
}

.fact-carousel {
	width: 500px;
}

.fact {
	width: 500px;
}

/***smokies main***/
.icons {
	width: 50%;
	.icon {
		width: 15%;
		margin-left: 6.25%;
	}
}

.smokies-welcome {
	padding-top: 128px;
	padding-top: 8rem;
	padding-bottom: 128px;
	padding-bottom: 8rem;
}

}

@media screen and (min-width: 850px) {
/***header***/
h1 {
	font-size: 96px;
	font-size: 6rem;
}

h2 {
	font-size: 48px;
	font-size: 3rem;
}

/***main page***/
.main {
	@include grid(7);
	float: left;
	margin-right: ($col + (($gut) * 2));
}

.secondary {
	@include grid(4);
	margin-right: 0;
	float: right;
}

.dropdown {
	select {
		width: 100%;
	}
}

/*footer*/
.left-footer-nav {
	width: 50%;
	margin-right: 25%;
}

.right-footer-nav {
	width: 25%;
}

/***smokies visit page***/
.still-collage-img {
	width: 25%;
}


/***kids page***/
.kids-collage-img {
	width: 16.666%;
}

.jr-ranger-info {
	float: left;
	@include grid(7);
	margin-right: (($col * 2) + $gut);
}

.jr-ranger-photo {
	@include grid(3);
	display: block;
	float: left;
}

.web-ranger {
	clear: both;
}

.web-ranger-info {
	float: right;
	@include grid(7);
	margin-left: $col + $gut;
}

.web-ranger-photo {
	@include grid(4);
	display: block;
	float: left;
}

.book-image {
	width: 14%;
	float: left;
	margin-left: 10%;
}

.book {
	float: left;
	width: 55%;
	margin-left: 10%;
}

.fact-carousel {
	width: 700px;
}

.fact {
	width: 700px;
}
}

@media screen and (min-width: 935px) {
	.alert {
		.alert-container {
			.alert-message {
				padding-top: 10px;
				padding-top: 0.65rem;
			}
		}
	}
}

@media screen and (min-width: 1400px) {
header {
	.logo-large {
		width: 230px;
	}
}
}