$header-font-fam: "league-gothic", sans-serif;
$body-copy-font-fam: "lato", sans-serif;
$kids-header-font-fam: "ff-prater-block-web", sans-serif;

h1, h2, h3 {
	line-height: 1.3;
	font-family: $header-font-fam;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	-webkit-mask-image: url(../img/woodgrain.png);
	mask-image: url(../img/woodgrain.png);
	font-size: 56px;
	font-size: 3.5rem;
	letter-spacing: 1px;
}

.kids, .kids-nav {
	font-family: $kids-header-font-fam;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
	font-size: 2.5rem;
}

.alert-message {
	line-height: 1.1;
	font-size: 19px;
	font-size: 1.2rem;
	font-family: $body-copy-font-fam;
}

h3 {
	font-size: 32px;
	font-size: 2rem;
}

.secondary-h3 {
	font-size: 2rem;
}

p, a {
	line-height: 1.8;
	font-family: $body-copy-font-fam;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
}

.nav-collapse a {
	font-size: 17px;
	font-size: 1.05rem;
}

.welcome-blurb {
	font-size: 24px;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 300;
}

.kids-nav {
	font-size: 20px !important;
	font-size: 1.25rem !important;
}

.secondary-p, .secondary-nav a, .secondary-feature a {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.6;
}

select {
	font-family: $body-copy-font-fam;
	font-size: 16px;
	font-size: 1rem;
}

.caption {
	font-size: 14px;
	font-size: .9rem;
	line-height: 1.2;
}

a, .title {
	font-style: italic;
}