/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*h1, h2, h3*/
/*h3 featured park, menu outline*/
/*alert bg*/
/*links, buttons*/
/*caption bg, p*/
h1, h2, h3 {
  color: #449591; }

.featured-h3 {
  color: #f9c85b; }

.alert {
  background-color: #eba772; }
  .alert .alert-message {
    color: white; }

p, select {
  color: #5a7b52; }

header {
  border-bottom: 3px solid #0f5783; }

footer {
  border-top: 3px solid #0f5783; }

.caption {
  color: white; }

.caption-bg {
  background-color: #5a7b52; }

a {
  color: #0f5783; }

select {
  border: 3px solid #f9c85b; }

select:focus {
  border: 3px solid #eba772; }

.button {
  background-color: #0f5783; }
  .button a {
    color: #f9c85b; }

.kids-main-feature {
  background-color: #449591; }
  .kids-main-feature p {
    color: white; }
  .kids-main-feature h2 {
    color: #f9c85b; }

.books {
  background-color: #0f5783; }
  .books p {
    color: white; }
  .books h2 {
    color: #f9c85b; }

.did-you-know {
  background-color: #5a7b52; }
  .did-you-know p {
    color: white; }
  .did-you-know h2 {
    color: #f9c85b; }

.welcome-info {
  background-color: #5a7b52; }
  .welcome-info h1 {
    color: #f9c85b; }
  .welcome-info p {
    color: white; }

h1, h2, h3 {
  line-height: 1.3;
  font-family: "league-gothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.kids {
  font-family: "ff-prater-block-web", sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 3rem; }

.alert-message {
  line-height: 1.1;
  font-size: 2.5rem; }

h3 {
  font-size: 2.5rem; }

.secondary-h3 {
  font-size: 2rem; }

p, a {
  line-height: 1.8;
  font-family: "lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400; }

select {
  font-family: "lato", sans-serif;
  font-size: 1rem; }

.caption {
  font-size: .9rem;
  line-height: 1.2; }

a, .title {
  font-style: italic; }

/*! responsive-nav.js 1.0.38 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  overflow: hidden;
  text-align: right;
  width: 100%; }

.nav-collapse li {
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  width: 100%; }

.nav-collapse.opened {
  max-height: 9999px;
  position: relative; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  clear: both;
  width: 50px; }

@media screen and (min-width: 650px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none;
    float: none; }

  .nav-collapse ul {
    width: 80%;
    float: right; }

  .nav-collapse li {
    display: inline-block;
    margin-left: 2rem; }

  .nav-collapse li:nth-of-type(1) {
    margin-left: 0; } }
/***universal***/
.wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

.main-content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

img {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem; }

.collage-img, .still-collage-img {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

/***NPS Home Page***/
/*header*/
header {
  padding-top: 1rem;
  padding-bottom: 3.3em; }

/*body*/
.tagline {
  text-align: center;
  width: 90%;
  margin: 2rem auto 1rem auto; }

/*collage*/
.collage {
  overflow: hidden;
  margin-bottom: 4rem; }
  .collage .top-row, .collage .bottom-row {
    overflow: hidden; }
    .collage .top-row .collage-img, .collage .top-row .smokies-collage-img, .collage .bottom-row .collage-img, .collage .bottom-row .smokies-collage-img {
      width: 25%;
      float: left; }

.caption-bg {
  padding-top: .5rem;
  padding-bottom: .5rem;
  clear: both; }
  .caption-bg .caption {
    width: 90%;
    margin-right: auto;
    margin-left: auto; }

.placeholder {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0; }

.first-image {
  background-image: url(../img/nps-insta1.jpg);
  background-size: cover;
  -webkit-animation: firstimgswitch 15s linear infinite;
  animation: firstimgswitch 15s linear infinite; }

@-webkit-keyframes firstimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta1.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta9.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta10.jpg); } }
@keyframes firstimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta1.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta9.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta10.jpg); } }
.second-image {
  background-image: url(../img/nps-insta2.jpg);
  background-size: cover;
  -webkit-animation: secondimgswitch 15s linear infinite;
  animation: secondimgswitch 15s linear infinite; }

@-webkit-keyframes secondimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta2.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta11.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta12.jpg); } }
@keyframes secondimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta2.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta11.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta12.jpg); } }
.third-image {
  background-image: url(../img/nps-insta3.jpg);
  background-size: cover;
  -webkit-animation: thirdimgswitch 15s linear infinite;
  animation: thirdimgswitch 15s linear infinite; }

@-webkit-keyframes thirdimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta3.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta13.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta14.jpg); } }
@keyframes thirdimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta3.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta13.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta14.jpg); } }
.fourth-image {
  background-image: url(../img/nps-insta4.jpg);
  background-size: cover;
  -webkit-animation: fourthimgswitch 15s linear infinite;
  animation: fourthimgswitch 15s linear infinite; }

@-webkit-keyframes fourthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta4.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta15.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta16.jpg); } }
@keyframes fourthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta4.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta15.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta16.jpg); } }
.fifth-image {
  background-image: url(../img/nps-insta5.jpg);
  background-size: cover;
  -webkit-animation: fifthimgswitch 15s linear infinite;
  animation: fifthimgswitch 15s linear infinite; }

@-webkit-keyframes fifthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta5.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta17.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta18.jpg); } }
@keyframes fifthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta5.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta17.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta18.jpg); } }
.sixth-image {
  background-image: url(../img/nps-insta6.jpg);
  background-size: cover;
  -webkit-animation: sixthimgswitch 15s linear infinite;
  animation: sixthimgswitch 15s linear infinite; }

@-webkit-keyframes sixthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta6.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta19.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta20.jpg); } }
@keyframes sixthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta6.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta19.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta20.jpg); } }
.seventh-image {
  background-image: url(../img/nps-insta7.jpg);
  background-size: cover;
  -webkit-animation: seventhimgswitch 15s linear infinite;
  animation: seventhimgswitch 15s linear infinite; }

@-webkit-keyframes seventhimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta7.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta21.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta22.jpg); } }
@keyframes seventhimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta7.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta21.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta22.jpg); } }
.eighth-image {
  background-image: url(../img/nps-insta8.jpg);
  background-size: cover;
  -webkit-animation: eighthimgswitch 15s linear infinite;
  animation: eighthimgswitch 15s linear infinite; }

@-webkit-keyframes eighthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta8.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta23.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta24.jpg); } }
@keyframes eighthimgswitch {
  0%, 100% {
    background-image: url(../img/nps-insta8.jpg); }
  33%, 65% {
    background-image: url(../img/nps-insta23.jpg); }
  66%, 99% {
    background-image: url(../img/nps-insta24.jpg); } }
/*main content*/
.nps-main-feature, .nps-subfeature, .secondary-feature {
  margin-bottom: 4rem; }

.dropdown {
  margin-bottom: 1rem; }
  .dropdown select {
    outline: none;
    width: 60%; }

.button {
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem; }

/*footer*/
.left-footer-nav ul {
  text-align: center; }
  .left-footer-nav ul li {
    display: inline-block;
    margin-right: 2rem; }
  .left-footer-nav ul li:nth-of-type(3) {
    margin-right: 0; }

.right-footer-nav {
  overflow: hidden; }
  .right-footer-nav ul {
    text-align: center; }
    .right-footer-nav ul li {
      display: inline-block;
      margin-right: 2rem; }
    .right-footer-nav ul li:nth-of-type(2) {
      margin-right: 0; }

/***main Smokies page***/
/*header*/
.alert-message {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem; }

/*collage*/
.smokies-first {
  background-image: url(../img/smokies-insta1.jpg);
  background-size: cover;
  -webkit-animation: smokiesfirstimgswitch 15s linear infinite;
  animation: smokiesfirstimgswitch 15s linear infinite; }

@-webkit-keyframes smokiesfirstimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta1.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta9.jpg); } }
@keyframes smokiesfirstimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta1.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta9.jpg); } }
.smokies-second {
  background-image: url(../img/smokies-insta2.jpg);
  background-size: cover;
  -webkit-animation: smokiessecondimgswitch 15s linear infinite;
  animation: smokiessecondimgswitch 15s linear infinite; }

@-webkit-keyframes smokiessecondimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta2.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta10.jpg); } }
@keyframes smokiessecondimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta2.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta10.jpg); } }
.smokies-third {
  background-image: url(../img/smokies-insta3.jpg);
  background-size: cover;
  -webkit-animation: smokiesthirdimgswitch 15s linear infinite;
  animation: smokiesthirdimgswitch 15s linear infinite; }

@-webkit-keyframes smokiesthirdimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta3.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta11.jpg); } }
@keyframes smokiesthirdimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta3.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta11.jpg); } }
.smokies-fourth {
  background-image: url(../img/smokies-insta4.jpg);
  background-size: cover;
  -webkit-animation: smokiesfourthimgswitch 15s linear infinite;
  animation: smokiesfourthimgswitch 15s linear infinite; }

@-webkit-keyframes smokiesfourthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta4.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta12.jpg); } }
@keyframes smokiesfourthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta4.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta12.jpg); } }
.smokies-fifth {
  background-image: url(../img/smokies-insta5.jpg);
  background-size: cover;
  -webkit-animation: smokiesfifthimgswitch 15s linear infinite;
  animation: smokiesfifthimgswitch 15s linear infinite; }

@-webkit-keyframes smokiesfifthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta5.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta13.jpg); } }
@keyframes smokiesfifthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta5.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta13.jpg); } }
.smokies-sixth {
  background-image: url(../img/smokies-insta6.jpg);
  background-size: cover;
  -webkit-animation: smokiessixthimgswitch 15s linear infinite;
  animation: smokiessixthimgswitch 15s linear infinite; }

@-webkit-keyframes smokiessixthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta6.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta14.jpg); } }
@keyframes smokiessixthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta6.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta14.jpg); } }
.smokies-seventh {
  background-image: url(../img/smokies-insta7.jpg);
  background-size: cover;
  -webkit-animation: smokiesseventhimgswitch 15s linear infinite;
  animation: smokiesseventhimgswitch 15s linear infinite; }

@-webkit-keyframes smokiesseventhimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta7.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta15.jpg); } }
@keyframes smokiesseventhimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta7.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta15.jpg); } }
.smokies-eighth {
  background-image: url(../img/smokies-insta8.jpg);
  background-size: cover;
  -webkit-animation: smokieseighthimgswitch 15s linear infinite;
  animation: smokieseighthimgswitch 15s linear infinite; }

@-webkit-keyframes smokieseighthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta8.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta16.jpg); } }
@keyframes smokieseighthimgswitch {
  0%, 100% {
    background-image: url(../img/smokies-insta8.jpg); }
  50%, 99% {
    background-image: url(../img/smokies-insta16.jpg); } }
/*main content*/
.smokies-main-feature, .smokies-subfeature {
  margin-bottom: 4rem; }

.map-img {
  margin-bottom: 0;
  display: block; }

/***smokies plan trip visit***/
.smokies-blurb {
  margin-bottom: 2rem;
  max-width: 650px;
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

.smokies-collage {
  margin-bottom: 4rem;
  overflow: hidden; }

.still-collage-img {
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
  float: left; }

.welcome-info {
  padding-top: 2rem;
  padding-bottom: 2rem; }

/***kids***/
.smokies-collage-kids {
  overflow: hidden; }

.kids-main-feature, .books, .did-you-know {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden; }

.kids-img {
  width: 60%;
  display: block; }

.jr-ranger {
  margin-bottom: 4rem; }

.book {
  margin-bottom: 2rem; }

.book:last-of-type {
  margin-bottom: 0; }

.book, .fact, .kids-h2 {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto; }

@media screen and (min-width: 650px) {
  /***header***/
  header {
    padding-bottom: 1rem; }

  /***footer***/
  footer {
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    clear: both; }

  .left-footer-nav {
    float: left;
    width: 50%;
    margin-right: 20%; }
    .left-footer-nav ul {
      text-align: left; }
      .left-footer-nav ul li {
        display: block;
        margin-right: 0; }

  .right-footer-nav {
    float: left;
    overflow: hidden;
    width: 30%; }
    .right-footer-nav ul {
      text-align: right; }
      .right-footer-nav ul li {
        display: block;
        margin-right: 0; }

  .left-socials, .right-socials {
    width: 48%;
    float: left;
    overflow: hidden; }

  .left-socials {
    margin-right: 4%; } }
@media screen and (min-width: 850px) {
  /***main page***/
  .main {
    width: 57.631%;
    float: left;
    margin-right: 8.471%; }

  .secondary {
    width: 32.218%;
    margin-right: 0;
    float: right; }

  .dropdown select {
    width: 100%; }

  /*footer*/
  .left-footer-nav {
    width: 50%;
    margin-right: 25%; }

  .right-footer-nav {
    width: 25%; }

  /***smokies visit page***/
  .still-collage-img {
    width: 25%; }

  /***kids page***/
  .jr-ranger, .web-ranger {
    float: left;
    width: 44.9245%; }

  .jr-ranger {
    margin-right: 6.805%; } }

/*# sourceMappingURL=style.css.map */
